

.banner {
  background: url(./banner.jpg);
  background-position: fixed;
  background-size: cover;
  height: 110vh;
  border-bottom-left-radius: 12rem;
}

.row {
  width: 22rem;
}

.letyour {
  width: 14ch;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 125%; 
}

